*{
    padding: 0;
    margin: 0;  
     
}
html{
    font-size: 62.5%;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: var(--fondo-pagina);
}
:root{
    /*COLORES*/
    --font-letters:#fff;
    --fondo-pagina:#222831;
    --fondo-myList: #e94560;
    --fondo-topic:#888B8E;
    --fondo-input:#434343;
    --fondo-input_placeHolder:#B9BAB8;
    --fondo-p4:#133b5c;
    --font-comments: #f7eded;
}

img{
    width: 100%;
}
.main-container .aside-bar{
    display: none;
}
.home-primary{
    grid-area: primary;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 15rem;
    grid-template-rows:7rem 1fr;
    grid-template-areas: "search user"
                         "list   list";
}
.home-primary .primary-search{
    grid-area: search;
    align-self: center;
}
.search input{
    background-color: var(--fondo-input);
    color: var(--font-letters);
    width: 90%;
    max-width: 30rem;
    height: 3.92rem;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1.6rem;
}
.search input::placeholder{
    color: var(--fondo-input_placeHolder);
}


.home-primary .primary-user{
    grid-area: user;
    display: flex;
    align-items: center;
    
}
.primary-user figcaption{
    margin-left: 12px;
    font-size: 1.2rem;
    color: var(--font-letters);
}
.primary-user img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
}
/*
Primary playList
*/
.home-primary .primary-list{
    grid-area: list;
}
.primary-list .primaryPlaylist-topic{
    font-size: 1.3rem;
    color: var(--fondo-topic);
    margin-bottom: 0.5rem;
}
.primary-list .primaryPlaylist-title{
    font-size: 2.2rem;
    color: var(--fondo-myList);
}
.primary-list .primaryPlaylist-list{
    height: 15rem;
}