*{
    padding: 0;
    margin: 0;  
     
}
html{
    font-size: 62.5%;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: var(--fondo-pagina);
}
:root{
    /*COLORES*/
    --fondo-header: #313131;
    --font-color:#fff;
    --letras-nav:#cfd3ce;
    --selected-nav:#ca3e47;
    --fondo-pagina:#222831;
    --fondo-myList: #e94560;
    --fondo-p1:#f2a365;
    --fondo-p2:#30475e;
    --fondo-p3:#543864;
    --fondo-p4:#133b5c;
    --font-comments: #f7eded;
}
.header-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.6);
    width: 100%;
    min-width: 320px;
    height: 7rem;
    margin-bottom: 1rem;
    background-color: var(--fondo-header);

}
header .header-title{
    font-size: 2.4rem;
    color: var(--font-color);
    margin-left: 2rem;
}
img{
    width: 100%;
}

.nav .nav-list{
    display: flex;
    flex-wrap: wrap;
}
.nav-list li{
    list-style: none;
    padding: 0.5rem 1rem;
}
.nav-list a{
    color: var(--letras-nav);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
}
.nav-list a:hover{
    font-size: 1.8rem;
    text-decoration:underline;
    color: gray;

}
.nav-list .active{
    color: var(--selected-nav);
    align-self:center;
    font-weight: bold;
}
/*
video section
*/
.video-container video{
    height: 45rem;
    width: 100%;
}
/*
grid-container
*/
.font-color-white{
    color: white;
}
.grid-container{
    display: grid;
    grid-template-columns: auto;
    padding: 1rem;
    gap: 1rem;
}
.video-info-container{
    display: grid;
    grid-template-columns:  repeat(9,1fr);
    grid-template-areas: "title title title title title title title . ."
                         "views views views views . . . . ."
                         "addp addp share share save  save .p1 p2 "
                         ". . share share save  save . p3 p4"
    
    ;
    gap: 1rem;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.3);
    border-bottom: solid black 0.1rem;
    padding: 1rem;
}
.video__title{
    grid-area: title;
    font-size: 2rem;
    
    margin-bottom: 0.5rem;
}
.video__views{
    grid-area: views;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}
.video-add{
    grid-area: addp;
    font-size: 1.2rem;
    background-color: var(--fondo-myList);
    border-radius: 10px;
    border: none;
    padding: 0.4rem 0.1rem;
    
}
.video-share{
    grid-area: share;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.video-share span{
    background-image: url('../assets/platzi-video/icons8-compartir\ \(1\).svg');
    height: 5.5rem;
    width: 6.5rem;
    position: absolute;
    background-repeat: no-repeat;
    bottom: 28px;
    left: calc(50% - 30px);;

}
.video-save{
    grid-area: save;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.video-save span{
    position: absolute;
    background-image: url('../assets/platzi-video/icons8-descargar-de-la-nube-64.png');
    height: 5.8rem;
    width: 6.5rem;
    background-repeat: no-repeat;
    bottom: 21px;
    left: calc(50% - 32px);
}
.video__electronic,
.video__rock,
.video__time,
.video__rela{
    display: flex;
    border-radius: 5px;
    height: 2rem;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.video__electronic{
    grid-area: p1;
    background-color: var(--fondo-p1);
    
}
.video__rock{
    grid-area: p2;
    background-color: var(--fondo-p2);
}
.video__time{
    grid-area: p3;
    background-color: var(--fondo-p3);
}
.video__rela{
    grid-area: p4;
    background-color: var(--fondo-p4);
}
/*
Comments
*/
.comments-container{
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    color: white;
    border-top: solid black 0.1rem ;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.3);

}
.comments-container .comments-left{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
.comments-left .comments__title,
.comments-rigth h4{
    font-size: 1.8rem;
    line-height: 0.8rem;
    font-weight: bold;
    height: 2rem;
}
.comments-container .add-comment-container{
    display: flex;
}
.add-comment-container .add-comment__img{
    width: 40px;
    margin-right: 1rem;
}
.add-comment__img img{
    border-radius: 30px;
}
.add-comment-container .add-comment__input{
   
    background-color: transparent;
    border: none;
    border-bottom:solid white 0.1rem;
    width: 100%;
    outline: none;
    color: white;
}
.add-comment__input::placeholder{
    color: gray;
}
.add-comment__input:-ms-input-placeholder {
    color: gray;
}
/*
user comment
*/
.comments-left .user-comment{
    margin-top: 1rem;
    display: flex;
}
.user-comment .add-comment__img{
    width: 40px;
    margin-right: 1rem;
}
.user-comment .user-comment__info{
    width: 100%;
}
.user-comment__info h3{
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}
.user-comment__info p{
    font-size: 1rem;
    color: var(--font-comments);
}
.comments-container .comments-rigth{
    display: none;
}
.main-container .aside-bar{
    display: none;
}
