.home-primary{
    grid-template-columns: 1fr 15rem;
}
.primary-user figcaption{
    font-size: 1.6rem;
}
.contenedor-carousel .primaryPlaylistItem{
    width: 16.664%;
    height: 18rem;   
}

.primaryPlaylistItem:hover ~ .primaryPlaylistItem {
    transform: translate3d(4rem, 0, 0);
}

.primary-list .primaryPlaylist-list{
    height: 22rem;
}
.contenedor-carousel .primaryPlaylistItem:nth-of-type(3n){
    transform-origin: center left; 
}
.contenedor-carousel .primaryPlaylistItem:nth-of-type(6n){
    transform-origin: center right; 
}