.home-primary{
    grid-template-columns: 1fr 15rem;
}
.primary-user figcaption{
    font-size: 1.6rem;
}
.contenedor-carousel .primaryPlaylistItem{
    min-width: 20%;
    height: 18rem;
    
}
.primary-list .primaryPlaylist-list{
    height: 20rem;
}